<div class="w-full bg-teal-50 py-8 px-4 md:px-12 lg:px-24">
    <div class="max-w-screen-xxl mx-auto flex flex-col mt-14 md:flex-row justify-evenly items-start space-y-8 md:space-y-0">
      
      
      <div class="space-y-2">
        <h1 class="text-3xl mr-10 font-bold text-teal-600">Logo</h1> 
        <p><span class="font-semibold">Location:  </span> <span class="text-gray-500">Isr Street gilrt awam juim</span></p>
        <p><span class="font-semibold">Contact:  </span><span class="text-gray-500"> +9 5555559909</span></p>
        <p><span class="font-semibold">Time:  </span><span class="text-gray-500"> 9am - 5pm EST, Monday - Friday</span></p>
        <p><span class="font-semibold">Email:  </span><span class="text-gray-500">{{ 'youname@Rule.com' }}</span></p>
      </div>
  
      
      <div class="flex flex-col md:flex-row space-y-8 md:space-y-0 md:space-x-16"> 
        
        
        <div>
          <h2 class="text-2xl  mb-3 mr-10 font-semibold text-gray-800">Company</h2>
          <ul class="space-y-3 text-gray-600">
            <li><a href="#">Case Studies</a></li>
            <li><a href="#">Case Details</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Services</a></li>
          </ul>
        </div>
  
        
        <div>
          <h2 class="text-2xl mb-3 mr-10 font-semibold text-gray-800">Explore</h2>
          <ul class="space-y-3 text-gray-600">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog And News</a></li>
            <li><a href="#">Blog Details</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
        </div>
  
        
        <div>
          <h2 class="text-2xl mb-3 font-semibold text-gray-800">Insurance</h2>
          <ul class="space-y-3 text-gray-600">
            <li><a href="#">Health Insurance</a></li>
            <li><a href="#">Car Insurance</a></li>
            <li><a href="#">Business Insurance</a></li>
            <li><a href="#">Life Insurance</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
