<header class="flex items-center justify-between p-4 bg-white shadow-md">
    
    <div class="text-3xl font-bold text-teal-600">Logo</div>
  
    
    <div class="flex items-center  flex-1 mx-60  ml-35 space-x-6">
      
      <div class="w-50">
        <input
          type="text"
          placeholder="Search here..."
          class="w-40 px-4 py-1 text-sm text-gray-700 border-b border-gray-300 outline-none focus:border-teal-400"
        />
      </div>
  
      
      <nav class="flex space-x-5">
        <a routerLink="/header" class="text-teal-600 font-bold hover:underline">Home</a>
        <a href="#" class="text-gray-600 font-bold hover:underline">Pages<svg class="inline w-5 h-5  " fill="currentColor" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/></svg></a>
        <a href="#" class="text-gray-600 font-bold hover:underline">Insurances<svg class="inline w-5 h-5  " fill="currentColor" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/></svg></a>
        <a href="#" class="text-gray-600 font-bold hover:underline">Blog<svg class="inline w-5 h-5  " fill="currentColor" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/></svg></a>
        <a href="#" class="text-gray-600 font-bold hover:underline">Contact Us</a>
      </nav>
    </div>
  
    <div class="flex items-center space-x-5">
        <span class="text-gray-600 font-semibold flex items-center">
          <svg class="w-4 h-4 mr-1 text-teal-600" fill="currentColor" viewBox="0 0 24 24">
            <path d="M22 16.92V19c0 1.1-.9 2-2 2-9.39 0-17-7.61-17-17 0-1.1.9-2 2-2h2.09c1.13 0 2.06.88 2.15 2 .11 1.21.3 2.42.57 3.59.13.56-.04 1.16-.45 1.57L6.62 9.97c1.74 3.3 4.43 6 7.73 7.74l1.81-1.81c.41-.41 1.01-.58 1.57-.45 1.18.27 2.39.46 3.59.57 1.11.09 2 .99 2 2.12z" />
          </svg>
          + (111) 65 458 856
        </span>
        <button class="px-4 py-2  text-white bg-teal-600 rounded-md hover:bg-teal-700">
          Get A Quote
        </button>
      </div>
      
  </header>
  