/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
    background-color: #00b3a8;
  }
  
  .text-primary {
    color: #00b3a8;
  }
  
  .bg-primary-dark {
    background-color: #008378;
  }
  
  .hover\:bg-primary-dark:hover {
    background-color: #008378;
  }